//Это корневой scss, где настраивается весь сайт
@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    font: var(--font-m);//Достаем шрифт, который будет по умолчанию

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;//Чтобы по максимуму заполнил страницу, но не трогая другие детали страницы
    padding: 20px;
}