.app.dark {
    --bg-color: #282882;
    --inverted-bg-color: #a9a9c5;

    --primary-color: #049604;//Основной, к примеру, заголовок
    --secondary-color: #04ff04;//Второстепенный, к примеру, описание
    --inverted-primary-color: #081a4f;
    --inverted-secondary-color: #0449e0;
}
